<div id="about-section" class="container main-font p-5 ">
    <div class="fade-in-up delay-300">
        <h1 class="page-title float-1 pt-20">{{ translationService.translate('ABOUT.TITLE') }}</h1>
    </div>

    <div class="about-section">
        <div class="fade-in-left delay-300">
            <div class="profile-card float-2">
                <div class="profile-image">
                    <!-- Substitua por sua foto -->
                    <img src="./assets/eu.jpeg" alt="Foto de perfil">
                </div>

                <h2 class="profile-name text-white">Leonardo</h2>
                <p class="profile-title">{{ translationService.translate('ABOUT.SUBTITLE') }}</p>

                <div class="contact-info">
                    <div class="contact-item text-white">
                        <svg class="contact-icon" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path
                                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
                            <path
                                d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
                        </svg>
                        <span>leonardo1692004&#64;gmail.com</span>
                    </div>

                    <div class="contact-item text-white">
                        <svg class="contact-icon" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" />
                        </svg>
                        <span>São José dos Campos, SP</span>
                    </div>

                    <a
                        href="https://www.linkedin.com/in/leonardo-irineu-8418b0288/"
                        target="_blank">
                        <div class="contact-item text-white">
                            <svg class="contact-icon" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" />
                            </svg>
                            <span>linkedin.com/leonardo-irineu</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="fade-in-right delay-300">
            <div class="about-content float-3">
                <h2 class="about-title">{{ translationService.translate('ABOUT.TITLE_2') }}</h2>
                <p class="about-text">
                    {{ translationService.translate('ABOUT.DESCRIPTION_1') }}
                </p>
                <p class="about-text">
                    {{ translationService.translate('ABOUT.DESCRIPTION_2') }}
                </p>

                <p class="about-text">
                    {{ translationService.translate('ABOUT.DESCRIPTION_3') }}
                </p>

                <div class="skills-grid text-white">
                    <a
                        href="https://github.com/Leo-Slv/ACTi-case"
                        target="_blank"
                        rel="noopener noreferrer">
                        <div class="skill-tag">ASP.NET</div>
                    </a>
                     <div class="skill-tag">Next.JS</div>
                    <a href="https://github.com/Leo-Slv/SHOP_API"
                        target="_blank"
                        rel="noopener noreferrer">
                        <div class="skill-tag">Spring Boot</div>
                    </a>
                   
                    <a href="https://github.com/Leo-Slv/Portfolio"
                        target="_blank"
                        rel="noopener noreferrer">
                        <div class="skill-tag">Angular</div>
                    </a>
                    <a
                        href="https://github.com/ErrorSquad-ABP/ErrorSquad-Server"
                        target="_blank"
                        rel="noopener noreferrer">
                        <div class="skill-tag">DDD</div>
                    </a>
                    <a
                        href="https://github.com/ErrorSquad-ABP/ErrorSquad-Server"
                        target="_blank"
                        rel="noopener noreferrer">
                        <div class="skill-tag">PostgreSQL</div>
                    </a>
                    <a href="https://github.com/Leo-Slv/first-spring-crud"
                        target="_blank"
                        rel="noopener noreferrer">
                        <div class="skill-tag">Docker</div>
                    </a>
                    <a href="https://github.com/Leo-Slv" target="_blank"
                        rel="noopener noreferrer">
                        <div class="skill-tag">Git</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="education-section" class="education-section">
        <div class="fade-in-up delay-300">
            <h2 class="section-title float-2">{{ translationService.translate('EDUCATION.TITLE') }}</h2>
        </div>
        <div class="education-grid">

            <div class="fade-in-left delay-300">
                <div class="education-card float-1">
                    <h3 class="education-degree">{{ translationService.translate('EDUCATION.DEGREE_1') }}</h3>
                    <p class="education-school">{{ translationService.translate('EDUCATION.SCHOOL_1') }}</p>
                    <p class="education-period">2025 - 2027</p>
                    <p class="education-description">
                        {{ translationService.translate('EDUCATION.DESCRIPTION_1') }}
                    </p>
                    <span class="education-status text-white">{{ translationService.translate('EDUCATION.STATUS_1') }}</span>
                </div>
            </div>

            <div class="fade-in-up delay-300">
                <div class="education-card float-3">
                    <h3 class="education-degree">{{ translationService.translate('EDUCATION.DEGREE_2') }}</h3>
                    <p class="education-school">{{ translationService.translate('EDUCATION.SCHOOL_2') }}</p>
                    <p class="education-period">2023 - 2024</p>
                    <p class="education-description">
                        {{ translationService.translate('EDUCATION.DESCRIPTION_2') }}
                    </p>
                    <span
                        class="education-status text-white">{{ translationService.translate('EDUCATION.STATUS_2') }}</span>
                </div>
            </div>

            <div class="fade-in-right delay-300">
                <div class="education-card float-2">
                    <h3 class="education-degree">{{ translationService.translate('EDUCATION.DEGREE_3') }}</h3>
                    <p class="education-school">{{ translationService.translate('EDUCATION.SCHOOL_3') }}</p>
                    <p class="education-period">2017-2020</p>
                    <p class="education-description">
                       {{ translationService.translate('EDUCATION.DESCRIPTION_3') }}
                    </p>
                    <span
                        class="education-status text-white">{{ translationService.translate('EDUCATION.STATUS_3') }}</span>
                </div>
            </div>
        </div>
    </div>
</div>