<div id="projects-section" class="container main-font p-2 sm:p-10">
  <div class="fade-in-up delay-300 pt-20">
    <h1 class="page-title float-1">{{ translationService.translate('PROJECTS.MY') }}</h1>
  </div>

  <div class="projects-grid">

    <!-- Projeto 1 -->
    <div class="fade-in-left delay-300">
      <div class="project-card float-2">
        <div class="project-image">
          <img src="./assets/agileTracker.png" alt="Foto de perfil">
        </div>
        <div class="project-content">
          <h3 class="project-title">{{ translationService.translate('PROJECTS.CARD_TITLE_5') }}</h3>
          <p class="project-description">
            {{ translationService.translate('PROJECTS.DESCRIPTION_5') }}
          </p>
          <div class="project-technologies">
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/ASPNET.png" alt="ASP.NET">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon9.png" alt="SQL Server">
            </div>
          </div>
          <div class="project-links">
            <a href="https://github.com/AgileTracker/AgileTracker-Server" target="_blank" class="project-link">
              <svg fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" />
              </svg>
              GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Projeto 1 -->
    <div class="fade-in-left delay-300">
      <div class="project-card float-2">
        <div class="project-image">
          <img src="./assets/acticase.png" alt="Foto de perfil">
        </div>
        <div class="project-content">
          <h3 class="project-title">{{ translationService.translate('PROJECTS.CARD_TITLE_1') }}</h3>
          <p class="project-description">
            {{ translationService.translate('PROJECTS.DESCRIPTION_1') }}
          </p>
          <div class="project-technologies">
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/ASPNET.png" alt="ASP.NET">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon4.png" alt="Angular">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/sqlServer.png" alt="SQL Server">
            </div>
          </div>
          <div class="project-links">
            <a href="https://github.com/Leo-Slv/ACTi-case" target="_blank" class="project-link">
              <svg fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" />
              </svg>
              GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Projeto 2 -->
    <div class="fade-in-up delay-400">
      <div class="project-card float-3">
        <div class="project-image">
          <img src="./assets/shop-api.png" alt="Foto de perfil">
        </div>
        <div class="project-content">
          <h3 class="project-title">{{ translationService.translate('PROJECTS.CARD_TITLE_2') }}</h3>
          <p class="project-description">
            {{ translationService.translate('PROJECTS.DESCRIPTION_2') }}
          </p>
          <div class="project-technologies">
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon1.png" alt="Spring">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon7.png" alt="Docker">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon8.png" alt="MySQL">
            </div>
          </div>
          <div class="project-links">
            <a href="https://github.com/Leo-Slv/SHOP_API" target="_blank" class="project-link">
              <svg fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" />
              </svg>
              GitHub
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Projeto 3 -->
    <div class="fade-in-right delay-500">
      <div class="project-card float-1">
        <div class="project-image">
          <img src="./assets/portfolio.png" alt="Foto de perfil">
        </div>
        <div class="project-content">
          <h3 class="project-title">{{ translationService.translate('PROJECTS.CARD_TITLE_3') }}</h3>
          <p class="project-description">
            {{ translationService.translate('PROJECTS.DESCRIPTION_3') }}
          </p>
          <div class="project-technologies">
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon2.png" alt="Node">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon4.png" alt="Angular">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon3.png" alt="TypeScript">
            </div>
          </div>
          <div class="project-links">
            <a href="https://github.com/Leo-Slv/Portfolio" target="_blank" class="project-link">
              <svg fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" />
              </svg>
              GitHub
            </a>
            <a href="https://portfolio-git-master-leonardos-projects-ca06eb83.vercel.app/" class="project-link">
              <svg fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" />
              </svg>
              Demo
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fade-in-up delay-300 pt-20">
    <h1 class="page-title float-1">{{ translationService.translate('PROJECTS.STUDENT') }}</h1>
  </div>

  <div class="projects-grid">
    <!-- Projeto 4 -->
    <div class="fade-in-left delay-300">
      <div class="project-card float-2">
        <div class="project-image">
          <img src="./assets/error-squad-server.png" alt="Foto de perfil">
        </div>
        <div class="project-content">
          <h3 class="project-title">{{ translationService.translate('PROJECTS.CARD_TITLE_4') }}</h3>
          <p class="project-description">
            {{ translationService.translate('PROJECTS.DESCRIPTION_4') }}
          </p>
          <div class="project-technologies">
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon2.png" alt="Node">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon6.png" alt="JavaScript">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon9.png" alt="PostgreSQL">
            </div>
          </div>
          <div class="project-links">
            <a href="https://github.com/ErrorSquad-ABP/ErrorSquad-Server" target="_blank" class="project-link">
              <svg fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" />
              </svg>
              GitHub
            </a>
            <a href="https://gerenciamento-pedagogico.vercel.app/" target="_blank" class="project-link">
              <svg fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" />
              </svg>
              Demo
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Projeto 4 -->
    <div class="fade-in-left delay-300">
      <div class="project-card float-2">
        <div class="project-image">
          <img src="./assets/abp2dsm.png" alt="Foto de perfil">
        </div>
        <div class="project-content">
          <h3 class="project-title">{{ translationService.translate('PROJECTS.CARD_TITLE_6') }}</h3>
          <p class="project-description">
            {{ translationService.translate('PROJECTS.DESCRIPTION_6') }}
          </p>
          <div class="project-technologies">
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icons8-vuejs-100.png" alt="Vue">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon3.png" alt="TypeScript">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon9.png" alt="PostgreSQL">
            </div>
          </div>
          <div class="project-links">
            <a href="https://github.com/ErrorSquad-ABP/ErrorSquad-Server" target="_blank" class="project-link">
              <svg fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" />
              </svg>
              GitHub
            </a>
            <a href="https://abp-2-dsm.vercel.app/" target="_blank" class="project-link">
              <svg fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" />
              </svg>
              Demo
            </a>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="fade-in-up delay-300 pt-20">
    <h1 class="page-title float-1">{{ translationService.translate('PROJECTS.PROFESSIONAL') }}</h1>
  </div>

  <div class="projects-grid">
    <!-- Projeto 4 -->
    <div class="fade-in-left delay-300">
      <div class="project-card float-2">
        <div class="project-image-container">
          <div class="project-image-solo">
            <img src="./assets/pdv.png" alt="Foto de perfil">
          </div>
        </div>
        <div class="project-content">
          <h3 class="project-title">{{ translationService.translate('PROJECTS.CARD_TITLE_7') }}</h3>
          <p class="project-description">
            {{ translationService.translate('PROJECTS.DESCRIPTION_7') }}
          </p>
          <div class="project-technologies">
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/nextjs.png" class="fade-in-up delay-200" alt="React">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/ASPNET.png" alt="ASP.NET">
            </div>
            <div class="w-8 h-12 sm:w-8 sm:h-12 icon-hover text-center">
              <img src="./assets/icon8.png" alt="MySQL">
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
